
body {
background: #ebb7cd;
background: linear-gradient(44deg, rgba(235, 183, 205, 1) 53%, rgba(148, 187, 233, 1) 100%);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
min-height: 100vh;
}




